@import "../../variables/color.style";

@keyframes blueGradient {
  0% {
    color: var(--blue);
  }
  25% {
    color: var(--purple);
  }
  50% {
    color: var(--orange);
  }
  100% {
    color: var(--blue);
  }
}
