@import "../../variables/color.style";

@keyframes purpleGradient {
  0% {
    color: var(--purple);
  }
  25% {
    color: var(--orange);
  }
  75% {
    color: var(--blue);
  }
  100% {
    color: var(--purple);
  }
}
