$hover: rgba(63, 81, 181, 0.3);
$click: rgba(243, 255, 22, 0.3);

.hover-center figure {
  position: relative;
}

.hover-center figure::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(63, 81, 181, 0.3);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.hover-center figure:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  z-index: 2;
  background: $hover;
}

.hover-center figure:hover::before {
  -webkit-animation: circle .5s;
  animation: circle-hover .75s;
  background: $hover;
}

.hover-center.click figure:hover::before {
  background: $click;
}

@-webkit-keyframes circle-hover {
  0% {
    opacity: 1;
    background: unset;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
    background: $hover;
  }
}

@keyframes circle-hover {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@-webkit-keyframes circle-click {
  0% {
    opacity: 1;
    background: unset;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
    background: $click;
  }
}

@keyframes circle-click {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
