.settings {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  &-container {
    max-width: 400px;
    width: 100%;
  }
}

.space-bottom {
  margin-bottom: 20px;
  display: block;
}
