.loader{
  min-width: 400px;
  min-height: 250px;
  position: relative;

  &:after{
    content: attr(data-img url);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
