.category {
  max-width: 1200px;
  margin: 20px auto;
  background: #daebff;

  @media screen and (max-width: 1260px) {
    margin: 20px;
  }

  .patterns {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-gap: 20px;

    .pattern {

      &__item {
        width: 100%;
      }
    }

    @media screen and (max-width: 1260px) {
      grid-template-columns: repeat(2, 450px);
    }

    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.store{
  margin: 50px 0;
}

.category-full {
  min-height: inherit;
  height: 100%;
}

.full-page {
  display: block;
  padding: 0;
  background: #daebff;
  min-height: calc(100vh - 51px - 40px);
  margin: 20px;
}

.error-card {
}

::ng-deep .card {
  max-width: 100% !important;
}

img {
  width: 100%;
}

.car-factory {
  max-width: inherit;
  display: block;
}

.center{
  display: flex;
  justify-content: center;
}

::ng-deep .tesla-card{
  img{
    width: 100%;
  }
}

.store-col{

  &__img{
    &-footer{
      background: var(--dark-blue);
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 5px;
      text-align: center;
      color: var(--white);
    }
  }

  &__car{
    margin: 10px 0;
    border: 3px solid var(--dark-blue);
    list-style-type: none;
    background: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 10px;
    border-radius: 10px;
    li{

    }
  }
}

